article
{
    margin: 20px;
    display: flex;
    flex-direction: column;
}


img
{
    float: right;
    vertical-align: auto;
    height: 400px;
}

.checkliste_Durchfuehrung
{
    float: left;
}

p a
{
    text-decoration: none;
    color: black;   
}


h5
{
    text-align: center;
}

.Aufgabe2 h5
{
    text-align: left;
}