img
{
    width: 1700;
}

@media (max-width: 1400px) {
    img 
    {
        width: 1300px;
    };
}

@media (max-width: 1000px) {
    img 
    {
        width: 900px;
    };
}

@media (max-width: 700px) {
    img 
    {
        width: 600px;
    };
}


@media (max-width: 500px) {
    img 
    {
        width: 400px;
    };
}


@media (max-width: 400px) {
    img 
    {
        width: 300px;
    };
}
