/* CSS EPortfolio

Autor: Cyrill Schudel
Aufgabe: 3. Note M293 & M431


*/

/*
                                Allgemeine Spezifikationen
---------------------------------------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html
{
}
body
{
    margin: 0;
    background-color: rgb(114, 166, 214);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;

} 
.img
{
    display: grid;
    grid-template-rows: auto auto;
    margin: 30px;
}

article
{
    margin: 40px;
}

.Quellenverweis
{
    font-size: 11px;
}

h1
{
    margin-bottom: 30px;
    margin-top: 20px;
}

h3
{
    margin-top: 15px;
    margin-bottom: 20px;
}

footer
{
    margin-top: 50px;
    height: 70px;
    background-color: rgb(40, 40, 119);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stickyfooter
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
                            Allgemeine Media Querys
----------------------------------------------------------------------------------------
*/

@media (max-width: 970px)
{
    body
    {
        font-size: 16px;
    }

    article 
    {
        margin: 20px
    }
}



@media (max-width: 500px)
{
    body 
    {
        font-size: 13px;
    }

    footer 
    {
        font-size: 10px;
    }

    article
    {
        margin: 10px;
    }
}
